[submodule "adapter"]
	path = adapter
	url = https://github.com/tiferrei/quic-tracker.git
[submodule "learner"]
	path = learner
	url = git@github.com:UCL-PPLV/tcp-learner.git
[submodule "implementations/msquic"]
	path = implementations/msquic
	url = https://github.com/microsoft/msquic.git
[submodule "implementations/proxygen"]
	path = implementations/proxygen
	url = https://github.com/facebook/proxygen.git
